{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Colors</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore libero ea eius in sint enim itaque doloribus nostrum odit provident soluta temporibus excepturi, veniam fugiat eum ullam impedit quis ut.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpeg" class="img-thumbnail">
    </div>
</div>

{{> footer }}